@(content: Any)
@layouts.html.default("Scalatra App", "Heading"){
    
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 mt-5 p-0 card">
                    <!-- card content -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12 p-4">
                                <h3 class="font-weight-bold mb-4">Card</h3>
                                <p class="m-0">Content: @content</p>
                                <form method="post" enctype="multipart/form-data">
                                    <input type="file" name="thefile" />
                                    <input type="submit" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}